/* #NOTE: Copyright © 2003-2025 Deceptively Simple Technologies Inc. Some rights reserved. Please see the aafdata/LICENSE.txt file for details. */

/* ==========================================================================
   NOTE: AAF Data Modeler-specific styles
   ========================================================================== */
#attributes {
  width: 100.00%;
  display: inline-table;
}
